Entrega/weights/bestmodel.hdf5
Entrega/feathers/test_normalized_data.fth
Entrega/feathers/joined_train_before_durations.fth
Entrega/feathers/joined_test_before_durations.fth
Entrega/feathers/all_preprocessed_train.fth
Entrega/feathers/all_preprocessed_test.fth
